{% load static %}
<link rel="stylesheet" href="{% static 'style/footerStyle.css' %}">

<div class="footer">
    <div id="contact_section">
        <div id="footer_heading">CONTACT</div>
        <div>email@email.com</div>
        <div>555-555-5555</div>
        <div>1234 Elm Street</div>
        <div>Richmond, VA 12345</div>
    </div>

    <div id="footer_center">
        <img id="footer_logo" src="{% static 'images/coffee_logo.jpg' %}">
        <p>@2023 Rising Coffee Co.</p>
    </div>

    <div id="footer_menu">
        <div id="footer_heading">MENU</div>
        <ul>
            <li><button onClick="document.getElementById('about').scrollIntoView();">About</button></li>
            <li><button onClick="document.getElementById('blog').scrollIntoView();">Blog</button></li>
            <li><button onClick="document.getElementById('philosophy').scrollIntoView();">Philosophy</button></li>
            <li><button onClick="document.getElementById('contact').scrollIntoView();">Contact</button></li>
        </ul>
        </div>
    </div>
</div>