<html>
    <head>
        <title>Rising Coffee</title>
        {% load static %}
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'style/homeStyle.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/Logo-Small.png' %}">
    </head>
    <body>
        {% include 'rising_coffee/header.html' %}
        <div class="center">
            <!-- Logo and motto container -->
            <div class="container" id="logo_container">
                <img id="coffee_logo" src="{% static 'images/Logo-Large.jpg' %}" alt="logo">
                <p id="slogan">Elevate your day.</p>
            </div>

            <!-- Menu with buttons container -->
            <!-- <div class="container" id="menu">
                <button id="about_btn" onClick="document.getElementById('about').scrollIntoView();">About</button>
                <button id="blog_btn" onClick="document.getElementById('blog').scrollIntoView();">Blog</button>
                <button id="philosophy_btn" onClick="document.getElementById('philosophy').scrollIntoView();">Philosophy</button>
                <button id="contact_btn" onClick="document.getElementById('contact').scrollIntoView();">Contact</button>
            </div> -->

            <!-- Slideshow container -->
            <div class="image_carousel_container">
        
                <!-- Full-width images with number and caption text -->
                <div class="image_carousel fade">
                    <div class="slide_count">1 / 5</div>
                    <img src="{% static 'images/Carousel-01.jpg' %}">
                </div>
            
                <div class="image_carousel fade">
                    <div class="slide_count">2 / 5</div>
                    <img src="{% static 'images/Carousel-02.jpg' %}">
                </div>
            
                <div class="image_carousel fade">
                    <div class="slide_count">3 / 5</div>
                    <img src="{% static 'images/Carousel-03.jpg' %}">
                </div>

                <div class="image_carousel fade">
                    <div class="slide_count">4 / 5</div>
                    <img src="{% static 'images/Carousel-04.jpg' %}">
                </div>

                <div class="image_carousel fade">
                    <div class="slide_count">5 / 5</div>
                    <img src="{% static 'images/Carousel-05.jpg' %}">
                </div>
            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            
            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
            </div>

            <!-- About container -->
            <div class="info_container" id="about">
                <hr>
                <h1>About</h1>
                <hr>
                <div class="info_section">
                    <span class="info_text">Rising Coffee LLC started with a passion for family, faith, and 
                        service. Adam and Althea Rising (a father-daughter duo) partnered to build a family 
                        business that focuses on serving others and building community through the love of 
                        coffee. Their shared sense of adventure and love for diverse cultures and experiences 
                        inspired a journey in coffee that began while living in Italy and traveling the world. 
                        The business is only just starting, but the vision to serve people from all stations 
                        and walks of life with the uniting flavor of coffee endures.  </span>
                    <img class="info_image" src="{% static 'images/About.jpg' %}">
                </div>
            </div>

            <!-- Blog container -->
            <div class="info_container" id="blog">
                <hr>
                <h1>Blog</h1>
                <hr>
                <div class="info_section">
                    <img class="info_image" src="{% static 'images/Blog.jpg' %}">
                    <span class="info_text">Adam- Alright coffee fans! This is getting real now. 
                        The Aillio Bullet arrived a few days ago (thanks to my wife and family for 
                        investing in us!), and the first few seasoning roasts have been done. It is 
                        a far cry from the stove-top popcorn kettle method that has produced so many 
                        great, and questionable, roasts over the last two years. The available data is 
                        overwhelming! I already long for the simplicity of my grill probe stuck in the 
                        lid and listening for the first and second cracks while recording splits on a 
                        stopwatch app. That said, I am super excited to up my game and continue the process 
                        of learning and improving. Our first official foray into the coffee business world, 
                        will be at Coffee Fest in Orlando, FL, this November. I am super excited to build new 
                        friendships and partners as we jump in with both feet!!</span>
                </div>
            </div>

            <!-- Philosophy container -->
            <div class="info_container" id="philosophy">
                <hr>
                <h1>Philosophy</h1>
                <hr>
                <div class="info_section">
                    <span class="info_text">We all have individual values and philosophies in life. In our 
                        complicated and often fast-paced lives, it is important that we are upfront with who 
                        we are and why we do things. For Rising Coffee, coffee is the product, service is the 
                        experience, and our values and faith drive our commitment to you. We believe every 
                        person is uniquely made in the image of God, and for us, that means all people deserve 
                        to be treated with dignity and respect. </span>
                    <img class="info_image" src="{% static 'images/Philosophy.jpg' %}">
                </div>
            </div>

            <!-- Contact container -->
            <div class="info_container" id="contact">
                <hr>
                <h1>Special Thanks</h1>
                <hr>
                <div class="info_section">
                    <img class="info_image" src="{% static 'images/Contact.jpg' %}">
                    <span class="info_text">These are the folks that have helped or are helping us along the way. 
                        Nothing great happens alone, and we thank you for sharing your passion and experience 
                        with us!<br><br>
                        <ul>
                            <li><strong>Rob Page</strong> – Friendship and Mentorship (Bisbee Coffee Company, bisbeecoffee.com)<br></li>
                            <li><strong>Tyler Burkhardt</strong> – Web page build and management<br></li>
                            <li><strong>Justin Zaun</strong> – Web page design and consultation<br></li>
                            <li><strong>Alina</strong> – Logo art</span></li>
                        </ul>
                </div>
            </div>
        </div>
        {% include 'rising_coffee/footer.html' %}
        <!--From W3 Schools-->
        <script src="{% static 'scripts/image_carousel.js' %}"  type="text/javascript"></script>
    </body>
</html>